<!-- views/update-driver.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Driver</title>
</head>

<body>
    <div class="container">
        <h1>Update Driver</h1>
        <form action="/admin/update-driver/<%= driver.id %>" method="POST">

            <label for="columnName">Column Name:</label>
            <select id="columnName" name="columnName" required>
                <option value="user_name">User Name</option>
                <option value="password">Password</option>
                <option value="name">Name</option>
                <option value="contact_no">Contact Number</option>
                <option value="driving_license_no">Driving License No</option>
                <option value="monthly_payment">Monthly Payment</option>
            </select><br>

            <label for="columnValue">New Value:</label>
            <input type="text" id="columnValue" name="columnValue" required><br>

            <button type="submit">Update Driver</button>
        </form>
    </div>
</body>

</html>



